<section hx-trigger='cancel' class='section editing'>
    <form class="box">
        <div class="field">
            <label class="label">Name</label>
            <input name='name' class="input">
        </div>

        <div class="field">
            <label class="label">Slug</label>
            <input name='slug' class="input">
        </div>

        <div class="field">
            <label class="label">Icon</label>
            <input name='icon' class="input">
        </div>

        <div class="field">
            <label class="label">Group</label>
            <input name='group' class="input">
        </div>

        <div class="field">
            <label class="label">Description</label>
            <textarea name='description' class="textarea"></textarea>
        </div>

        <div class="field">
            <label class="label">URL</label>
            <input name='launch_url' class="input">
        </div>

        <div>
            <input name="source" type="hidden" value="Local" />
            <button class="button is-warning" _="on click send newApp to #local-apps">
                <span class="icon is-small"><img src="/static/icons/cancel.svg" /></span>
                <span>Cancel</span>
            </button>

            <button class="button is-primary" hx-trigger="click" hx-post="/local-apps" hx-include="closest section">
                <span class="icon is-small"><img src="/static/icons/save.svg" /></span>
                <span>Save</span>
            </button>
        </div>

    </form>
</section>