<div id="icon-form" class="modal is-active is-clipped">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
        </header>
        <section class="modal-card-body">
            <form id='form' hx-encoding='multipart/form-data' hx-post='/local-apps/icon-form/{{app.id}}'>

            </form>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success">Save changes</button>
                <button class="button"
                    _="on click remove .is-active from #icon-form then remove #icon-form">Cancel</button>
            </div>
        </footer>
    </div>
</div>