<div id="app-list">
    <div hx-target="closest section" hx-swap="outerHTML">
        {% for app in applications %}
        <section class="section" hx-get="/local-apps/{{app.id}}" hx-trigger="load">
        </section>
        {% endfor %}


            <button class="btn bg-accent text-accent-content" hx-get="/local-apps/new">
                <img class="block-1/2 fill-accent-content" src="static/icons/new.svg" />
                <span>Add a New Application</span>
            </button>

    </div>
</div>
