<div id="app-list" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 place-items-evenly"
        hx-target="closest section" hx-swap="outerHTML">
    {% for app in applications %}
    <section class="card card-border bg-base-200 border-neutral text-base-content" hx-get="/local-apps/{{app.id}}" hx-trigger="load">
    </section>
    {% endfor %}

    <section class="card card-border bg-base-200 border-neutral text-base-content place-self-end">
        <div class="card-body">
            <div class="card-actions">
                <button class="btn bg-accent text-accent-content" hx-get="/local-apps/new" hx-swap="outerHTML">
                    <img class="block-1/2 fill-accent-content" src="static/icons/new.svg" />
                    <span>Add a New Application</span>
                </button>
            </div>
        </div>
    </section>
</div>
