<div id="app-list">
    {% if applications %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Icon</th>
                <th>Group</th>
                <th>Description</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for app in applications %}
            <tr>
                <td>{{app.id}}</td>
                <td>{{app.name}}</td>
                <td>{{app.slug}}</td>
                <td>{{app.icon}}</td>
                <td>{{app.group}}</td>
                <td>{{app.description}}</td>
                <td>{{app.launch_url}}</td>
                <td> <button class="button is-info" hx-get="/local-apps/{{app.id}}" hx-trigger="click" _="on click
                         trigger edit">
                        Edit
                    </button>
                    <button class="button is-danger" hx-confirm="Delete this app?" hx-delete="/local-apps/{{app.id}}">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td><button class="button is-info" hx-get="/local-apps/new">
                        Add
                    </button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> </td>

            </tr>
        </tbody>
    </table>
    {% endif %}
</div>