<section id="local-{{app.id}}"
    hx-get="/local-apps/{{app.id}}"
    hx-trigger="iconSaved_{{app.id}} from:body">
    <div class="card card-border bg-base-200 border-neutral text-base-content px-4">
        <div class="card-body">
            <p>Name: {{ app.name }}</p>
            <p>Slug: {{ app.slug }}</p>
            <p>Icon: {{ app.icon }}</p>
            <p>Group: {{ app.group }}</p>
            <p>Description: {{ app.description }}</p>
            <p>URL: {{ app.launch_url }}</p>

            <div class="card-actions justify-end">
                <button class="btn bg-primary/50 text-primary-content"
                    aria-label="Edit this application"
                    title="Edit"
                    hx-get="/local-apps/{{app.id}}/edit"
                    hx-trigger="click" _="on click trigger edit">
                    {{ <edit_icon /> }}
                </button>

                <button class="btn bg-warning/50 text-warning-content"
                   aria-label="Delete this application"
                   title="Delete"
                   hx-confirm="Delete this application?"
                   hx-delete="/local-apps/{{app.id}}">
                    {{ <delete_icon /> }}
                </button>

                <button class="btn bg-info/50 text-info-content"
                    aria-label="Upload an icon for this application"
                    title="Upload Icon"
                    onclick="icon_form_{{app.id}}.showModal()">
                    <!--hx-get="/local-apps/icon-form/{{app.id}}"
                    hx-target="body"
                    hx-swap="beforeend"-->
                     {{ <upload_icon /> }}
                </button>

                <dialog id="icon_form_{{app.id}}" class="modal">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold">Select Icon</h3>

                    <div class="modal-action place-content-around">
                        <form class="w-full" id='icon-form-{{app.id}}'
                            hx-encoding='multipart/form-data'
                            hx-post='/local-apps/icon-form/{{app.id}}'>

                            <input class="file-input file-input-accent place-self-start mr-2" type='file' name='file' required>
                            <button class="btn bg-accent/50 text-info-accent"
                                {{ <upload_icon /> }}
                                <label class="label">Upload</label>
                            </button>
                        </form>
                    </div>

                  </div>
                  <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                  </form>
                </dialog>

            </div>
        </div>
    </div>
</section>
