<section hx-trigger='cancel'  hx-get="/local-apps/{{app.id}}">
    <div class="card card-border bg-base-200 border-neutral text-base-content px-4">
        <div class="card-body">
            <form id="update-{{app.id}}">
                <fieldset class="fieldset mb-2">
                    <label class="input">
                        <span class="label">Name</span>
                        <input name='name' class="input" value='{{app.name}}'>
                    </label>

                    <label class="input">
                        <span class="label">Slug</span>
                        <input name='slug' class="input" value='{{app.slug}}'>
                    </label>

                    <label class="input">
                        <span class="label">Icon</span>
                        <input name='icon' class="input" value='{{app.icon}}' readonly>
                    </label>

                    <label class="input">
                        <span class="label">Group</span>
                        <input name='group' class="input" value='{{app.group}}'>
                    </label>

                    <label>
                        <span class="label">Description</span>
                        <textarea name='description' class="textarea">{{app.description}}</textarea>
                    </label>

                    <label class="input">
                        <span class="label">URL</span>
                        <input name='launch_url' class="input" value='{{app.launch_url}}'>
                    </label>
                </fieldset>

                <div class="card-actions justify-end">
                    <input name="source" type="hidden" value="Local" />
                    <button class="btn bg-warning/50 text-warning-content" hx-trigger="click" hx-get="/local-apps/{{app.id}}">
                        {{ <cancel_icon /> }}
                        <span>Cancel</span>
                    </button>
                    <button class="btn bg-primary/50 text-primary-content" hx-trigger="click" hx-put="/local-apps/{{app.id}}"
                        hx-include="#update-{{app.id}}">
                        {{ <save_icon /> }}
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
