<section hx-trigger='cancel' class='section editing' hx-get="/local-apps/{{app.id}}">
    <form class="box" id="update-{{app.id}}">
        <div class="field">
            <label class="label">Name</label>
            <input name='name' class="input" value='{{app.name}}'>
        </div>

        <div class="field">
            <label class="label">Slug</label>
            <input name='slug' class="input" value='{{app.slug}}'>
        </div>

        <div class="field">
            <label class="label">Icon</label>
            <input name='icon' class="input" value='{{app.icon}}' readonly>
        </div>

        <div class="field">
            <label class="label">Group</label>
            <input name='group' class="input" value='{{app.group}}'>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <textarea name='description' class="textarea">{{app.description}}</textarea>
        </div>

        <div class="field">
            <label class="label">URL</label>
            <input name='launch_url' class="input" value='{{app.launch_url}}'>
        </div>
        <div>
            <input name="source" type="hidden" value="Local" />
            <button class="button is-warning" hx-trigger="click" hx-get="/local-apps/{{app.id}}">
                <span class="icon is-small"><img src="/static/icons/cancel.svg"></span>
                <span>Cancel</span>
            </button>
            <button class="button is-primary" hx-trigger="click" hx-put="/local-apps/{{app.id}}"
                hx-include="#update-{{app.id}}">
                <span class="icon is-small"><img src="/static/icons/save.svg"></span>
                <span>Save</span>
            </button>
        </div>
    </form>
</section>