{% extends "base.html" %}

{% block title %}{{ title }} Admin{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">

    <div id="local-apps" hx-get="/local-apps" hx-trigger="load,newApp from:body">
    </div>

</div>

{% endblock %}

{% block footer %}
<footer class="footer container mx-auto sm:footer-horizontal p-10 bg-base-100 items-center">
    <aside class="grid-flow-col items-center">
        <p>Version: {{ version }}</p>
    </aside>

</footer>
{% endblock %}
