{% extends "base.html" %}

{% block title %}{{ title }} Admin{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">

    <div id="local-apps" hx-get="/local-apps" hx-trigger="load,newApp from:body">
    </div>

</div>

{% endblock %}

{% block footer %}

    <div class="join">
        <button class="btn join-item"><a target="_blank" href="https://github.com/mhampson31/synalpheus/releases/tag/v{{ version }}">Synalpheus v{{ version }}</a></button>
        <button class="btn join-item"><a target="_blank" href="https://github.com/mhampson31/synalpheus">Source</a></button>
    </div>

{% endblock %}
