<form class="card" hx-put="/application/{{app.id}}">

    <header class="card-header">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img {% if app.icon %} src="{{app.icon}}" {% else %} src="/static/icons/shrimp.svg" {% endif %}
                        alt="The {{app.name}} icon">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ app.name }}</p>
                {% if app.group %}
                <p class="subtitle is-6">{{ app.group }}</p>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="card-content">
        <div class="content">
            <div class="card-section">
                <p class="card-text">{{app.description}}</p>
            </div>
        </div>
    </div>

    {% if app.launch_url %}
    <footer class="card-footer">
        <a href="{{ app.launch_url }}" class="card-footer-item">{{ app.launch_url }}</a>
    </footer>
    {% endif %}
</form>