<div id="app-list" class="grid is-col-min-14">
    {% if applications %}
    {% for app in applications %}
    <div class="cell">

        {% if app.launch_url %}
        <a href="{{ app.launch_url }}" class="">
            {% endif %}
            <div class="card">

                <header class="card-header">

                    <media class="card-header-title">
                        <figure class="image is-64x64">
                            <img {% if app.icon %} src="{{app.icon}}" {% else %} src="/static/icons/shrimp.svg" {% endif
                                %} alt="The {{app.name}} icon">
                        </figure>
                        <p class="text-primary-light-invert is-4">{{ app.name }}</p>
                    </media>
                </header>

                <div class="card-content">
                    <p class="card-text">{{app.description}}</p>
                </div>

                <footer class="card-footer">
                    {% if app.group %}
                    <p class="card-footer-item is-6">{{ app.group }}</p>
                    {% endif %}

                </footer>

            </div>
            {% if app.launch_url %}
        </a>
        {% endif %}
    </div>

    {% endfor %}

    {% else %}

    <div class="card-content">
        <div class="content">
            <div class="card-section">
                <p class="card-text">No apps found</p>
            </div>
        </div>
    </div>

    {% endif %}
</div>