<div id="app-list" class="grid is-col-min-14 is-row-gap-3">
    {% if applications %}
    {% for app in applications %}
    <div class="cell">

        {% if app.launch_url %}
        <a href="{{ app.launch_url }}">
            {% endif %}
            <div class="card">

                <header class="card-header">
                    <div class="card-header-title">
                        <div class="media">

                            <figure class="media-left image is-64x64">
                                <img {% if app.icon %} src="{{app.icon}}" {% else %} src="/static/icons/shrimp.svg" {%
                                    endif %} alt="The {{app.name}} icon">
                            </figure>

                            <div class="media-content">
                                <p class="is-size-4">{{ app.name }}</p>
                                {% if app.group %}
                                <p class="is-size-6">{{ app.group }}</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </header>

                <div class="card-content pt-0">
                    <p class="card-text">{{app.description}}</p>
                </div>
            </div>
            {% if app.launch_url %}
        </a>
        {% endif %}
    </div>

    {% endfor %}

    {% else %}

    <div class="card-content">
        <div class="content">
            <div class="card-section">
                <p class="card-text">No apps found</p>
            </div>
        </div>
    </div>

    {% endif %}
</div>