<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css"
        crossorigin="anonymous">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="top-bar">
        {% if user %}
        <div class="top-bar-left">
            <span class="navbar-text">Hello {{user.name}}</span>
        </div>
        <div class="top-bar-right">
            <a class="nav-link" href="/logout">Logout</a>
        </div>
        {% else %}
        <div class="top-bar-left">
            <a class="nav-link" href="/login">Login</a>
        </div>
        {% endif %}
    </nav>

    <div id="content" class="px-3">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js"
        crossorigin="anonymous"></script>

</body>

</html>