{% extends "base.html" %}

{% block title %}Directory{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
    {% if apps %}
    <div class="columns is-multiline">
        {% for app in apps %}
        <div class="column is-one-third">
            <div class="card">

                <header class="card-header">
                    <div class="media">
                        {% if app.meta_icon %}
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{{app.meta_icon}}" alt="The {{app.name}} icon">
                            </figure>
                        </div>
                        {% endif %}
                        <div class="media-content">
                            <p class="title is-4">{{ app.name }}</p>
                            {% if app.group %}
                            <p class="subtitle is-6">{{ app.group }}</p>
                            {% endif %}
                        </div>
                    </div>
                </header>

                <div class="card-content">
                    <div class="content">
                        <div class="card-section">
                            <p class="card-text">{{app.meta_description}}</p>
                        </div>
                    </div>
                </div>

                {% if app.launch_url %}
                <footer class="card-footer">
                    <a href="{{ app.launch_url }}" class="card-footer-item">{{ app.launch_url }}</a>
                </footer>
                {% endif %}

            </div>
        </div>

        {% endfor %}

    </div>
    {% endif %}

</div>

{% endblock %}