{% extends "base.html" %}

{% block title %}Synalpheus{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container px-4">
    {% if user %}
    <div hx-get="/app-cards" hx-trigger="load,newCard from:body">
    </div>


    {% if user.is_superuser %}
    <form hx-post="/local-apps/add" hx-swap="afterend">
        <label>
            App
            <input name="name" type="text">
        </label>
        <label>
            Slug
            <input name="slug" type="text">
        </label>
        <label>
            URL
            <input name="launch_url" type="text">
        </label>
        <label>
            Icon
            <input name="icon" type="text">
        </label>
        <label>
            Description
            <input name="description" type="text">
        </label>
        <label>
            Group
            <input name="group" type="text">
        </label>
        <input name="source" type="hidden" value="Local" />
        <input type="submit" value="Submit">
    </form>
    {% endif %}

    {% else %}
    Not logged in
    {% endif %}

</div>

{% endblock %}