{% extends "base.html" %}

{% block title %}Directory{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% if apps %}
<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        {% for app in apps %}
        <div class="cell">
            <div class="card">
                <div class="card-divider">

                    {% if app.meta_icon %}
                    <div class="">
                        <img src="{{app.meta_icon}}" class="">
                    </div>
                    {% endif %}

                    <div class="">
                        <h5 class="">{{ app.name }}</h5>

                        {% if app.group %}
                        <h6 class="">{{ app.group }}</h6>
                        {% endif %}
                    </div>

                </div>

                <div class="card-section">
                    <p class="card-text">{{app.meta_description}}</p>
                </div>

                {% if app.launch_url %}
                <div class="">
                    <a href="{{ app.launch_url }}" class="">{{ app.launch_url }}</a>
                </div>
                {% endif %}

            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}