<tr hx-trigger='cancel' class='editing' hx-get="/local-apps/{{app.id}}">
    <td>{{app.id}}</td>
    <td><input name='name' value='{{app.name}}'></td>
    <td><input name='slug' value='{{app.slug}}'></td>
    <td><input name='icon' value='{{app.icon}}'></td>
    <td><input name='group' value='{{app.group}}'></td>
    <td><input name='description' value='{{app.description}}'></td>
    <td><input name='launch_url' value='{{app.launch_url}}'></td>
    <td>
        <input name="source" type="hidden" value="Local" />
        <button class="btn btn-danger" hx-trigger="click" hx-get="/local-apps/{{app.id}}">
            Cancel
        </button>
        <button class="btn btn-danger" hx-trigger="click" hx-put="/local-apps/{{app.id}}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>