{% component theme_list() %}
<select class="select" data-set-theme>
    <option class="theme-controller" value="light">Default</option>
    <option class="theme-controller" value="dark">Dark</option>
    <option class="theme-controller" value="lemonade">Lemonade</option>
    <option class="theme-controller" value="dim">Dim</option>
    <option class="theme-controller" value="silk">Silk</option>
    <option class="theme-controller" value="forest">Forest</option>
    <option class="theme-controller" value="emerald">Emerald</option>
</select>
{% endcomponent theme_list %}
